<div class="mb-4" style="padding-left: <%= comment.level*3 %>rem">
  <div class="comment-header mb-1">
    <%= if logged_in?
          link_to '', upvote_comment_path(comment), class: 'd-inline-block updoot-arrow ' +
              (@user.upvoted_comments.exists?(comment.id) ? 'updooted' : '')
        end %>
    <span class="text-muted text-smaller">
      <span class="mr-4"><%= link_to comment.user.name, user_path(comment.user) %></span>
      <span class="mr-4"><%= comment.created_at %></span>
      <span class="mr-4"><%= comment.score %> points</span>
      <button class="btn-link p-0" onclick="$('#comment-reply-<%= comment.id %>').toggle()">reply</button>
    </span>
  </div>
  <% if owns? comment %>
    <%= form_for comment, method: :put, class: 'mb-5' do |f| %>
      <%= f.text_area 'body', class: 'form-control mb-2', placeholder: 'comment', required: true %>
      <%= f.submit 'update', class: 'btn mb-3' %>
    <% end %>
  <% else %>
    <div class="comment-body mb-1"><%= comment.body %></div>
  <% end %>
  <div id="comment-reply-<%= comment.id %>" style="display: none">
    <%= render partial: 'comments/new', locals: {path: reply_comment_path(comment)} %>
  </div>
</div>