<div class="row">
  <div class="col-md p-5">
    <h2>login</h2>
    <%= form_tag '/login', method: :post do %>
      <div class="form-group">
        <%= text_field_tag 'username', nil, class: 'form-control', placeholder: 'username' %>
        <%= password_field_tag 'password', nil, class: 'form-control', placeholder: 'password' %>
      </div>
      <div class="form-group">
        <%= submit_tag 'login', class: 'btn' %>
      </div>
      <div class="form-group mt-5">
        <%= submit_tag 'forgot your password?', class: 'btn btn-sm btn-link', id: 'btn-password-forgot' %>
      </div>
    <% end %>
  </div>
  <div class="col-md p-5">
    <h2>register</h2>
    <%= form_tag users_path, method: :post do %>
      <div class="form-group">
        <%= text_field_tag 'username', nil, class: 'form-control', placeholder: 'username' %>
        <%= password_field_tag 'password', nil, class: 'form-control', placeholder: 'password' %>
        <%= password_field_tag 'password-confirm', nil, class: 'form-control', placeholder: 'password again' %>
      </div>
      <div class="form-group">
        <%= submit_tag 'register', class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>